div { position: static; }
div { position: relative; top: 10px; left: 20px; }
div { position: absolute; top: 0; right: 0; }
div { position: fixed; bottom: 0; right: 0; }
div { position: sticky; top: 50px; }
